:root {
  --primary-color: #0076c6;
  --white: #fff;
  --blur-light: #444950;
  --blur: #f2f3f5;
  --blur-dark: #cccccc;
  --blur-darker: #828282;
  --grey: #4a4a4a;
  --black-light: #373737;
  --black-lighter: #282828;
  --black: #1c1c1c;
  --small-size: 8px;
  --rem: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul > li {
  height: 100%;
  list-style: none;
  border-radius: var(--small-size);
}

a {
  text-decoration: none;
}

section {
  background-color: var(--white);
  margin: 24px 88px;
  border-radius: var(--small-size);
}

article {
  width: 50%;
  margin: auto;
  padding: var(--rem);
}

main {
  background-color: var(--blur);
  display: flex;
  max-width: 100%;
  flex-wrap: nowrap;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  position: sticky;
  z-index: 2;
  height: 56px;
  top: 0;
  left: 0;
  right: 0;
  /* box-shadow: rgb(166, 166, 166); */
}

header ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 36px;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.logo {
  width: 25%;
}

.logo > ul {
  height: 2.5rem;
  margin-left: var(--rem);
  margin-top: -9px;
}

.logo > ul > li > a {
  font-size: 44px;
  color: var(--primary-color);
}

.logo > ul > li:last-child {
  margin-left: var(--rem);
}

.logo > ul > li:last-child > input {
  position: relative;
  border-radius: 30px;
  top: -4px;
  border: none;
  width: 192px;
  padding: 7.2px 32px;
  font-size: 12.8px;
  height: 24px;
  background-color: var(--blur);
}

.logo > ul > li:last-child > i {
  position: absolute;
  left: 5.4rem;
  top: 1.1rem;
  font-size: 14.4px;
  color: grey;
}

.basic-nav {
  width: 50%;
}

.basic-nav > ul {
  justify-content: space-around;
  vertical-align: center;
  margin: auto;
  width: 79%;
  align-items: center;
}

.basic-nav > ul > li > a {
  font-size: 24px;
  color: grey;
  padding: 3.2px 32px;
}

.basic-nav > ul > li:first-child > a {
  border-bottom: 3.5px solid var(--primary-color);
  color: var(--primary-color);
}

.basic-nav > ul {
  margin-top: var(--small-size);
}

.basic-nav > ul > li:hover {
  background-color: lightgrey;
}

/* user navigation icons */

.user-nav {
  width: 25%;
}

.user-nav > ul {
  width: 52%;
  justify-content: space-between;
  float: right;
  margin-right: 15px;
}

.user-nav > ul > li {
  font-size: var(--rem);
}

.user-nav > ul > li:first-child {
  display: none;
}

.user-nav > ul > li:last-child .profile-pic {
  width: 40px;
}

.grey-circle {
  border-radius: 50%;
  padding: 12px 21px;
  align-items: center;
  position: relative;
  background-color: var(--blur);
}

.grey-circle:hover {
  background-color: gray;
}

.grey-circle span {
  position: absolute;
  background-color: red;
  color: var(#ffffff);
  top: 0;
  border-radius: 50%;
  width: 13px;
  font-size: 11.2px;
  left: 1.5rem;
  text-align: center;
}

.grey-circle svg {
  position: absolute;
  color: var(--black);
  font-size: 19.5px;
  left: 0.6rem;
}

.grey-circle > i {
  position: absolute;
  color: var(--black);
  font-size: 19.5px;
  left: 0.8rem;
}

/* body portion */

.explore-nav {
  position: fixed;
  left: 0;
  padding: var(--rem);
}

.explore-nav-body {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--rem);
  margin-top: var(--rem);
  border-bottom: 1.5px solid rgb(193, 193, 193);
}

.explore-nav-body > div {
  padding-bottom: var(--small-size);
  color: blueviolet;
}

.explore-nav-body > div:hover {
  background-color: lightgrey;
}

.explore-nav-body > div > a {
  display: flex;
  align-items: center;
  font-weight: 550;
  font-size: 14.4px;
  margin-bottom: var(--small-size);
  width: 100%;
  color: var(--black-light);
}

.explore-nav-body > div > a span {
  margin-left: var(--small-size);
}

.kripa-home span {
  margin-left: 48px;
}

.explore-nav-body > div > i {
  font-size: 20.8;
}

.explore-nav-body > div:last-child i {
  color: var(--blur-dark);
  font-size: 24px;
}

.profile-pic {
  width: 28.8px;
  border-radius: 50%;
}

.fa-chevron-circle-down {
  color: rgb(176, 175, 175);
}

.explore-nav-footer {
  width: 20rem;
  margin-top: 27.2px;
  padding-top: var(--rem);
}

.explore-nav-footer > a {
  font-size: 12px;
  color: var(--blur-darker);
}

.explore-nav-footer > a:hover {
  text-decoration: underline;
}

/* article portion everything */

.stories {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 88px;
}

.stories-div > .profile-pic {
  border: 4px solid var(--primary-color);
  width: 36.8px;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.stories-div:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.stories-div {
  width: 6.6rem;
  height: 12rem;
  margin: 0 4.8px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.stories-div > span {
  position: absolute;
  bottom: 0;
  color: var(#ffffff);
  z-index: 1;
}

.stories-pictures {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  object-fit: cover;
}

/* below srories portion */
.whats-on-live-video {
  margin: -8px 88px;
  background-color: var(#ffffff);
  border-radius: 20px;
}

/* .whats-on-live-video  */

.whats-on {
  display: flex;
  flex-direction: row;
  margin: 32px;
  align-items: center;
  border-bottom: 2px solid lightgray;
}

.whats-on > input {
  border-radius: 30px;
  width: 85%;
  height: 35.2px;
  padding-left: var(--rem);
  font-size: 17.6px;
  margin: var(--small-size);
  border: none;
  background-color: var(--blur);
}

.live-video {
  text-align: center;
  width: 100%;
  padding: 0 0 8px 0;
  display: flex;
  margin-top: -15px;
  justify-content: space-evenly;
}

.live-video > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  padding-left: 32px;
}

.live-video > a > span {
  font-size: var(--rem);
  font-weight: 50;
  color: var(--blur-darker);
  padding-left: 11.2px;
}

.live-video a i {
  color: "red";
}

live-video a:nth-child(2) svg {
  color: greenyellow;
}

/* .create-room-contents */

.create-room-contents {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 11.2px;
  overflow: hidden;
}

.create-room-contents > div > img {
  padding: 7.2px;
  width: 40px;
}

.create-room-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  padding: 9.6px;
  margin-top: 9.6px;
  height: 20.8px;
  width: 124.8px;
  border: 1px solid rgb(202, 216, 220);
}

.create-room-button :hover {
  background-color: var(--blur);
}

.create-room-button span {
  color: var(--primary-color);
  font-size: 15.5px;
  font-weight: 500;
}

/* facebook post */

.post-pic {
  width: 100%;
  object-fit: cover;
}

.profile-info-block {
  margin: var(--small-size);
}

.profile-info-block > div {
  display: block;
  float: left;
  padding: var(--small-size);
}

.profile-info-block > div:last-child {
  float: right;
}

.profile-info .profile-pic {
  width: 40px;
}

.post-profile-time div:first-child {
  font-size: 15px;
  font-weight: 600;
  color: var(--black-light);
}

.post-profile-time div:last-child {
  font-size: 13px;
  margin-top: 5px;
  color: var(--blur-darker);
}

.like-comment-share {
  display: flex;
  flex-wrap: nowrap;
  padding: var(--rem);
  margin: var(--small-size);
  justify-content: space-around;
  border-top: 2px solid rgb(215, 215, 215);
}

.like-comment-share i {
  margin-right: var(--small-size);
  color: var(--blur-darker);
}

.liked,
.liked > i {
  color: var(--primary-color);
}

.fa-earth {
  font-size: 12.8px;
}

.post-pic {
  height: 30rem;
}

/* .right-aside portion  */

.contacts-menu {
  opacity: 0.5;
  position: fixed;
  padding: var(--rem);
  right: 0;
  margin-left: 48px;
  width: 23.5%;
}

.online-active {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* .online-active > li {
  padding: 2rem;
} */

.online-active > li:first-child {
  font-size: 17.6px;
  font-weight: 600;
  margin-left: var(--small-size);
  padding: 11.2px;
}

.online-active > li:last-child ul li {
  font-size: 15.84px;
}

.toppers-contacts {
  display: flex;
  flex-wrap: nowrap;
}

.toppers-contacts > li {
  padding: 11.2px;
  font-size: 17.6px;
  border-radius: 50%;
}

.toppers-contacts > li:hover {
  background-color: rgb(197, 197, 197);
}

.only-actives > li a {
  font-size: 15.2px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: var(--small-size);
  font-weight: 550;
  align-items: center;
  color: var(--black-light);
  margin-left: 12.8px;
}

.only-actives > li a span {
  margin-left: 11.2px;
}

.only-actives > li:hover {
  background-color: rgb(197, 197, 197);
}

/* media queries */

@media only screen and (max-width: 800px) {
  .user-nav {
    display: none;
  }

  aside {
    display: none;
    margin: auto;
  }

  article {
    width: 100%;
  }

  .search {
    display: none;
  }

  section {
    margin: 0 0 8px 48px;
  }

  .whats-on-live-video {
    margin: 0 0 0 48px;
  }

  .user-nav > ul > li:first-child {
    display: block;
  }
}

@media only screen and (max-width: 1100px) {
  .explore-nav {
    display: none;
  }

  article {
    width: 80%;
    margin-left: 0;
  }

  .search {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  aside {
    width: 15%;
  }

  .stories {
    margin-left: 0;
  }
}
